@@ -1,17 +0,0 @@
# # Mặc định - Không được thay đổi
# PORT=3000 
PORT=3306

MY_ID=2

# ip network của máy trên zero-tier
# IP_NETWORK=10.15.240.99
IP_NETWORK=localhost

# DB Host 
# Nếu không phải máy tính của Tuấn => DB_HOST_NAME=10.15.240.149
# DB_HOST_NAME=10.15.240.149
DB_HOST_NAME=localhost

# DB User_name khi dùng để đăng nhập mysql (Tuấn cấp ban đầu) 
DB_USER_NAME=app_user

# Không sửa
DB_PASSWORD=app_password

DB_NAME=cinema_db

MY_PORT=3000